@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>ARTICLE LIST</h1>

<div class="index__center">
    <div class="grid__website">
        <div>
            <div class="grid__article__list">
                <div class="grid__img grid__item1">IMAGE</div>
                <div class="grid__info grid__item2">
                    <div class="article__info__topcontainer">
                        <div class="article__top">@Model.TestArticle.GetTimeAgo(Model.TestArticle.PublishTime)</div>
                        <div class="article__top">@Model.TestArticle.Author</div>
                    </div>
                    <div class="article__info__botcontainer">
                        <div class="article__title__font"><strong>@Model.TestArticle.Title</strong></div>
                        <div class="chaticon__container"><i class="material-icons md-36 color__4">chat</i><span class="chaticon__number">@Model.TestArticle.CommentsCount</span></div>
                    </div>
                </div>
                <div class="grid__text grid__item3">@Model.TestArticle.Text</div>
            </div>
            <div class="grid__article__list">
                <div class="grid__img grid__item1">IMAGE2</div>
                <div class="grid__info grid__item2">INFOBOX3</div>
                <div class="grid__text grid__item3">TEXT4</div>
            </div>
        </div>
    </div>
</div>